{% extends "base.html" %}

{% block title %}Database Values{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Database Values</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Session ID</th>
                <th scope="col">Password Hash</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ username }}</td>
                <td>{{ session_id }}</td>
                <td>{{ password_hash }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
